
$backgroundColor: rgb(20,20,20);
$card: rgb(30,30,30);
$mainTextColor: rgb(221,221,221);
$star: rgb(210,161,0);
$red: rgb(229, 9, 20);
$gray: rgb(77,77,77);
$background: rgb(230, 230, 230);
$darkmode: rgb(50,54,57);
$discordblue: rgb(99,98,203);
$boxColor: rgb(0,162,226);
$spotifyGreen: #2ecc71;
@mixin button {
      appearance: button;
      background-color: #000;
      background-image: none;
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: background-color 500ms;
    
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      background-color: gray;
    }
    &:active {
      box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
      outline: 0;
    }
    &:not([disabled]):active {
      box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
      transform: translate(2px, 2px);
    }
    
    @media (min-width: 768px) {
      .button-50 {
        padding: 12px 50px;
      }
    }
}

   


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCustom ($jc, $ai, $fd ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin absolutefill{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@mixin absolutecenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin invisible{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

@mixin visible{
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

@mixin clickable{
    cursor: pointer;
    transition: 300ms all;
    

    & :hover{
        transform: scale(1.1);
    }
}

@mixin scrollbar{
    
 &::-webkit-scrollbar-track
 {  
     background-color: white;
 }
 
 &::-webkit-scrollbar
 {  
   
     width: 0.45rem;
     background-color: white;
 }
 
 &::-webkit-scrollbar-thumb
 {     
     background-color: $spotifyGreen;
    
 }
}

@mixin titleheader {
    font-size: 1.5rem;
    border: 2px solid white;
    position: absolute;
    top: 1%;
    z-index: 100;
    padding:  0.5rem 2rem;
    background-color: $spotifyGreen;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px -2px $darkmode;
}

@mixin input {
  color: rgb(0, 0, 0);
  background-color: transparent;
  width: 100%;
  padding: 0.5em 0;
  border: none;
 outline: none;
  transition: border 500ms;
  border-bottom: 2px solid rgb(75, 72, 72);

  &:focus {
    outline: none;
    border-bottom: 2px solid #e84c3d;
    resize: none;
  }
}

@mixin textarea{
  @extend input
}

@mixin fullScreen{
    width: 100vw;
    height: 100vh;
}

@mixin coverer {
    @include fullScreen;
    position: absolute;
    top: 0;
    left: 0;
  }