@import "./variables&functions";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
 

}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}
body {
  margin: 0;
  overflow-x: hidden;
}

//LANDINGPAGE
.video-header {
  position: relative;
  text-align: center;
 @include fullScreen;
  video, .viewport-header {
    @include coverer;
  }
  video {
    background: white;
    object-fit: cover;
  }
  .viewport-header {
    font-size: 150%;
  line-height: 1.4;
    @include flexCenter(column);
    h2 {
      text-shadow: 1rem 1rem 1rem rgba(206,89,55,0);
      font-family: 'Syncopate', sans-serif;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 1.2;
      font-size: 2rem;
      text-align: center;
      span {
        display: block;
        font-size: 6rem;
        letter-spacing: -0.2rem;
      }
    }
    .arrow{
      color: white;
      margin-top: 2rem;
      animation: jump 2s infinite alternate-reverse ease;
    }
  }
}

@keyframes jump {
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(1rem)
  }
  
}


.aboutMe {
  font-size: 1vw;
  @include fullScreen;
  background: white;
  padding: 1rem;
  text-align: center;
   p:nth-child(1) {
    margin-top: 4em;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
  }
 .aboutMe-div{
  font-family: "Inter", sans-serif;;
    width: 70%;
    margin: 0 auto;
    margin-top: 8em;
    @include flexCenter(row);
    height: fit-content;
    .plx{
      width: 50%;
    }
    
    .aboutme-left{
      h1{
        font-size: 3em;
      }
      p{
        margin: 1em 0;
        font-size: 1.5em;
      }
      text-align: left;
      width: 100%;
      button{
        @include button;
      }
    }
    .aboutme-right{
     img{
      width: fit-content;
      height: 21em;
     }
     margin: 2em 0;
      width: 50%;
     height: 100%;
    }
}
}

//SKILLS

.skills{
  @include fullScreen;
  height: 45vh;
  @include flexCenter(row);
  border: 2px solid black;
  background-color: $card;
  color: white;
  .skills__left, .skills__right{
    @include flexCenter(column);
    width: 40%;
    height: 60%;
    text-align: Center;
    background-color: $gray;
    border-radius: 2rem;
    margin: 0 2rem;
    h1{
      color: white(255,115,92);
    }
  }
}
.cards{
  @include flexCenter(row);
  flex-wrap: wrap;
}
.skillsCard{
  margin: 1em;
  font-size: 1vw;
  position: relative;
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 1rem;
  img{
    width: fit-content;
    height: inherit;
    padding: 0.5em;
  
  }
 
  p{
    position: absolute;
    left: 50%;
    transition: ALL 500ms;
    bottom: 0em;
    opacity: 0;
    transform: translateX(-50%);
    color: white;
    font-weight: 300;
  }
  &:hover > p{
    opacity: 1;
    bottom: -2em;
  }
}

