@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.video-header {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-header video {
  background: white;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-header .viewport-header {
  font-size: 150%;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-header .viewport-header h2 {
  text-shadow: 1rem 1rem 1rem rgba(206, 89, 55, 0);
  font-family: 'Syncopate', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 1.2;
  font-size: 2rem;
  text-align: center;
}

.video-header .viewport-header h2 span {
  display: block;
  font-size: 6rem;
  letter-spacing: -0.2rem;
}

.video-header .viewport-header .arrow {
  color: white;
  margin-top: 2rem;
  animation: jump 2s infinite alternate-reverse ease;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.aboutMe {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  padding: 1rem;
  text-align: center;
}

.aboutMe p:nth-child(1) {
  margin-top: 4em;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.aboutMe .aboutMe-div {
  font-family: "Inter", sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutMe .aboutMe-div .plx {
  width: 50%;
}

.aboutMe .aboutMe-div .aboutme-left {
  text-align: left;
  width: 100%;
}

.aboutMe .aboutMe-div .aboutme-left h1 {
  font-size: 3em;
}

.aboutMe .aboutMe-div .aboutme-left p {
  margin: 1em 0;
  font-size: 1.5em;
}

.aboutMe .aboutMe-div .aboutme-left button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
          box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.2rem 0.5rem 0;
  overflow: visible;
  padding: 0.4rem 2rem;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.aboutMe .aboutMe-div .aboutme-left button:focus {
  text-decoration: none;
}

.aboutMe .aboutMe-div .aboutme-left button:hover {
  text-decoration: none;
  background-color: gray;
}

.aboutMe .aboutMe-div .aboutme-left button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.aboutMe .aboutMe-div .aboutme-left button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .aboutMe .aboutMe-div .aboutme-left button .button-50 {
    padding: 12px 50px;
  }
}

.aboutMe .aboutMe-div .aboutme-right {
  margin: 2em 0;
  width: 50%;
  height: 100%;
}

.aboutMe .aboutMe-div .aboutme-right img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 21em;
}

.skills {
  width: 100vw;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  background-color: #1e1e1e;
  color: white;
}

.skills .skills__left, .skills .skills__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em;
  text-align: Center;
  background-color: #4d4d4d;
  border-radius: 2rem;
  margin: 0 2rem;
}

.skills .skills__left h1, .skills .skills__right h1 {
  font-family: "Inter", sans-serif;
  color: white(255, 115, 92);
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsCard {
  margin: 1em;
  font-size: 1vw;
  position: relative;
  width: 6rem;
  height: 6rem;
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
}

.skillsCard:hover > .img-wrapper {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.skillsCard .img-wrapper {
  border-radius: 1rem;
  background-color: white;
  width: 100%;
  height: 100%;
}

.skillsCard .img-wrapper:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skillsCard .img-wrapper img {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  padding: 0.8em;
}

.skillsCard p {
  position: absolute;
  left: 50%;
  -webkit-transition: ALL 500ms;
  transition: ALL 500ms;
  bottom: 0em;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-weight: 400;
}

.skillsCard:hover > p {
  opacity: 1;
  bottom: -2em;
}

.mywork {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myworks__header {
  padding-bottom: 1rem;
}

.myworks__header h1, .myworks__header h3 {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.8rem;
}

.myworks__header h1 {
  margin-bottom: 2rem;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.galleryMode {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleryMode .galleryCard {
  -webkit-animation: fade 500ms linear ease;
          animation: fade 500ms linear ease;
  margin: 1em;
  height: 18em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.galleryMode .galleryCard:hover > img {
  -webkit-filter: blur(0.3em);
          filter: blur(0.3em);
}

.galleryMode .galleryCard:hover > P {
  z-index: 2;
  opacity: 1;
}

.galleryMode .galleryCard p {
  font-size: 0.8em;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  padding: 1em;
  z-index: -1;
  opacity: 0;
}

.galleryMode .galleryCard img {
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  height: inherit;
}

.values {
  width: 100vw;
  height: 100vh;
  padding: 5em 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  color: white;
  text-align: center;
}

.values > * {
  margin-bottom: 2rem;
  width: 70%;
  font-size: 1.8rem;
}

.contact {
  width: 100vw;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4em;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .card {
  background: -webkit-gradient(linear, left top, left bottom, from(#e84c3d), color-stop(26%, #e84c3d), color-stop(26%, #ecedef), to(#ecedef));
  background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
  height: 40em;
  float: left;
  position: relative;
  padding: 1em;
}

.contact .cardLeft {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 50em;
}

.contact .cardRight {
  padding: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20.8em;
  border-left: .18em dashed #fff;
  border-radius: 1em;
}

.contact .cardRight:before, .contact .cardRight:after {
  content: "";
  position: absolute;
  display: block;
  width: .9em;
  height: .9em;
  background: #fff;
  border-radius: 50%;
  left: -.5em;
}

.contact .cardRight:before {
  top: -.4em;
}

.contact .cardRight:after {
  bottom: -.4em;
}

.contact h1 {
  font-size: 1.1em;
  margin-top: 1em;
  font-size: 3em;
}

.contact h1 span {
  font-weight: normal;
}

.contact .title, .contact .name, .contact .seat, .contact .time, .contact .description {
  text-transform: uppercase;
  font-weight: normal;
}

.contact .title span, .contact .name span, .contact .seat span, .contact .time span, .contact .description span {
  font-size: .7em;
  color: #a2aeae;
}

.contact .name {
  margin-top: 1em;
}

.contact .title {
  margin-top: 2.8em;
}

.contact .title > *, .contact .name > * {
  display: block;
}

.contact .description {
  margin: 1em 0;
}

.contact input, .contact textarea, .contact .dashboard .dashboard__main > div:nth-child(2) form textarea, .dashboard .dashboard__main > div:nth-child(2) form .contact textarea {
  color: black;
  background-color: transparent;
  width: 100%;
  padding: 0.5em 0;
  border: none;
  outline: none;
  -webkit-transition: border 500ms;
  transition: border 500ms;
  border-bottom: 2px solid #4b4848;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

.contact input:focus, .contact textarea:focus, .contact .dashboard .dashboard__main > div:nth-child(2) form textarea:focus, .dashboard .dashboard__main > div:nth-child(2) form .contact textarea:focus {
  outline: none;
  border-bottom: 2px solid #e84c3d;
  resize: none;
}

.contact textarea {
  height: 8em;
  font-size: 1em;
}

.contact .seat, .contact .time {
  margin-top: 1em;
  margin-right: 1em;
}

.contact .seat, .contact .time, .contact .button {
  float: left;
}

.contact .seat button, .contact .time button, .contact .button button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
          box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.2rem 0.5rem 0;
  overflow: visible;
  padding: 0.4rem 2rem;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.contact .seat button:focus, .contact .time button:focus, .contact .button button:focus {
  text-decoration: none;
}

.contact .seat button:hover, .contact .time button:hover, .contact .button button:hover {
  text-decoration: none;
  background-color: gray;
}

.contact .seat button:active, .contact .time button:active, .contact .button button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.contact .seat button:not([disabled]):active, .contact .time button:not([disabled]):active, .contact .button button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .contact .seat button .button-50, .contact .time button .button-50, .contact .button button .button-50 {
    padding: 12px 50px;
  }
}

.contact .button {
  margin: 1em;
  margin-right: 3em;
}

.contact img {
  width: 4em;
}

.contact .number {
  text-align: center;
  text-transform: uppercase;
}

.contact .number h3 {
  color: #e84c3d;
  margin: .9em 0 0 0;
  font-size: 6em;
}

.contact .number span {
  display: block;
  color: #a2aeae;
}

.contact .barcode {
  height: 2em;
  width: 0;
  margin-right: 4em;
  margin-top: 2em;
  -webkit-box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
          box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
}

nav {
  position: fixed;
  z-index: 100;
  left: 8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav li {
  list-style: none;
  width: 1rem;
  height: 1rem;
  margin: 1rem 0;
  border-radius: 50%;
  border: 0.2rem solid #e84c3d;
  background-color: transparent;
}

.loginpage {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginpage form {
  margin-bottom: 2rem;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem;
  background-color: #e84c3d;
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginpage form h1 {
  padding-bottom: 1rem;
}

.loginpage form p {
  width: 100%;
}

.loginpage form button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
          box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.2rem 0.5rem 0;
  overflow: visible;
  padding: 0.4rem 2rem;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.loginpage form button:focus {
  text-decoration: none;
}

.loginpage form button:hover {
  text-decoration: none;
  background-color: gray;
}

.loginpage form button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.loginpage form button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .loginpage form button .button-50 {
    padding: 12px 50px;
  }
}

.loginpage form input, .loginpage form .contact textarea, .contact .loginpage form textarea, .loginpage .dashboard .dashboard__main > div:nth-child(2) form textarea, .dashboard .dashboard__main > div:nth-child(2) .loginpage form textarea {
  color: white;
  font-size: 1.4rem;
  margin: 2rem;
  width: 60rem;
  color: black;
  background-color: transparent;
  width: 100%;
  padding: 0.5em 0;
  border: none;
  outline: none;
  -webkit-transition: border 500ms;
  transition: border 500ms;
  border-bottom: 2px solid #4b4848;
  border-bottom: 2px solid black;
}

.loginpage form input:focus, .loginpage form .contact textarea:focus, .contact .loginpage form textarea:focus, .loginpage .dashboard .dashboard__main > div:nth-child(2) form textarea:focus, .dashboard .dashboard__main > div:nth-child(2) .loginpage form textarea:focus {
  outline: none;
  border-bottom: 2px solid #e84c3d;
  resize: none;
}

.loginpage form input:focus, .loginpage form .contact textarea:focus, .contact .loginpage form textarea:focus, .loginpage .dashboard .dashboard__main > div:nth-child(2) form textarea:focus, .dashboard .dashboard__main > div:nth-child(2) .loginpage form textarea:focus {
  border-bottom: white 2px solid;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.dashboard h1 {
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: #e84c3d;
  margin-bottom: 2rem;
}

.dashboard h1 button {
  position: absolute;
  right: 1rem;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
          box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.2rem 0.5rem 0;
  overflow: visible;
  padding: 0.4rem 2rem;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dashboard h1 button:focus {
  text-decoration: none;
}

.dashboard h1 button:hover {
  text-decoration: none;
  background-color: gray;
}

.dashboard h1 button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.dashboard h1 button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .dashboard h1 button .button-50 {
    padding: 12px 50px;
  }
}

.dashboard .dashboard__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.dashboard .dashboard__main .card {
  text-align: center;
  width: 15rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e6e6e6;
  color: black;
  -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.dashboard .dashboard__main .card .card__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.dashboard .dashboard__main .card .card__buttons .card__button:hover {
  cursor: pointer;
}

.dashboard .dashboard__main .card img {
  width: inherit;
}

.dashboard .dashboard__main > div:nth-child(1) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
}

.dashboard .dashboard__main > div:nth-child(2) {
  width: 30%;
}

.dashboard .dashboard__main > div:nth-child(2) form {
  border: 2px solid black;
  font-size: 1.6rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .dashboard__main > div:nth-child(2) form button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  -webkit-box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
          box-shadow: #fff 0.17rem 0.17rem 0 0,#000 0.17rem 0.17rem 0 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.2rem 0.5rem 0;
  overflow: visible;
  padding: 0.4rem 2rem;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dashboard .dashboard__main > div:nth-child(2) form button:focus {
  text-decoration: none;
}

.dashboard .dashboard__main > div:nth-child(2) form button:hover {
  text-decoration: none;
  background-color: gray;
}

.dashboard .dashboard__main > div:nth-child(2) form button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.dashboard .dashboard__main > div:nth-child(2) form button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .dashboard .dashboard__main > div:nth-child(2) form button .button-50 {
    padding: 12px 50px;
  }
}

.dashboard .dashboard__main > div:nth-child(2) form > * {
  margin-bottom: 1rem;
}

.dashboard .dashboard__main > div:nth-child(2) form textarea {
  border: 2px solid black !important;
  height: 10rem;
  padding: 0.4rem !important;
}

.dashboard .dashboard__main > div:nth-child(2) form input, .dashboard .dashboard__main > div:nth-child(2) form textarea {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.4rem;
  height: 1.9rem;
}

/* Hide default HTML checkbox */
.switch input, .switch .contact textarea, .contact .switch textarea, .switch .dashboard .dashboard__main > div:nth-child(2) form textarea, .dashboard .dashboard__main > div:nth-child(2) form .switch textarea {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider, .contact textarea:checked + .slider, .dashboard .dashboard__main > div:nth-child(2) form textarea:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider, .contact textarea:focus + .slider, .dashboard .dashboard__main > div:nth-child(2) form textarea:focus + .slider {
  -webkit-box-shadow: 0 0 0.1rem #2196F3;
          box-shadow: 0 0 0.1rem #2196F3;
}

input:checked + .slider:before, .contact textarea:checked + .slider:before, .dashboard .dashboard__main > div:nth-child(2) form textarea:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=App.css.map */