@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  overflow-x: hidden;
}

.video-header {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-header video {
  background: white;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-header .viewport-header {
  font-size: 150%;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-header .viewport-header h2 {
  text-shadow: 1rem 1rem 1rem rgba(206, 89, 55, 0);
  font-family: 'Syncopate', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 1.2;
  font-size: 2rem;
  text-align: center;
}

.video-header .viewport-header h2 span {
  display: block;
  font-size: 6rem;
  letter-spacing: -0.2rem;
}

.video-header .viewport-header .arrow {
  color: white;
  margin-top: 2rem;
  animation: jump 2s infinite alternate-reverse ease;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.aboutMe {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  background: white;
  padding: 1rem;
  text-align: center;
}

.aboutMe p:nth-child(1) {
  margin-top: 4em;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.aboutMe .aboutMe-div {
  font-family: "Inter", sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutMe .aboutMe-div .plx {
  width: 50%;
}

.aboutMe .aboutMe-div .aboutme-left {
  text-align: left;
  width: 100%;
}

.aboutMe .aboutMe-div .aboutme-left h1 {
  font-size: 3em;
}

.aboutMe .aboutMe-div .aboutme-left p {
  margin: 1em 0;
  font-size: 1.5em;
}

.aboutMe .aboutMe-div .aboutme-left button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
          box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.aboutMe .aboutMe-div .aboutme-left button:focus {
  text-decoration: none;
}

.aboutMe .aboutMe-div .aboutme-left button:hover {
  text-decoration: none;
  background-color: gray;
}

.aboutMe .aboutMe-div .aboutme-left button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.aboutMe .aboutMe-div .aboutme-left button:not([disabled]):active {
  -webkit-box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .aboutMe .aboutMe-div .aboutme-left button .button-50 {
    padding: 12px 50px;
  }
}

.aboutMe .aboutMe-div .aboutme-right {
  margin: 2em 0;
  width: 50%;
  height: 100%;
}

.aboutMe .aboutMe-div .aboutme-right img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 21em;
}

.skills {
  width: 100vw;
  height: 100vh;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  background-color: #1e1e1e;
  color: white;
}

.skills .skills__left, .skills .skills__right {
  width: 40%;
  text-align: Center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsCard {
  margin: 1em;
  font-size: 1vw;
  position: relative;
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 1rem;
}

.skillsCard img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  padding: 0.5em;
}

.skillsCard p {
  position: absolute;
  left: 50%;
  -webkit-transition: ALL 500ms;
  transition: ALL 500ms;
  bottom: 0em;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skillsCard:hover > p {
  opacity: 1;
  bottom: -2em;
}
/*# sourceMappingURL=App.css.map */