@import "./variables&functions";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1vw;
  overflow-x: hidden;
}
body {
  @include scrollbar;
  margin: 0;
  overflow-x: hidden;
}

section{
  overflow-y: hidden;
}


//LANDINGPAGE
.video-header {
  position: relative;
  text-align: center;
 @include fullScreen;
  video, .viewport-header {
    @include coverer;
  }
  video {
    background: white;
    object-fit: cover;
  }
  .viewport-header {
    font-size: 150%;
  line-height: 1.4;
    @include flexCenter(column);
    h2 {
      text-shadow: 1rem 1rem 1rem rgba(206,89,55,0);
      font-family: 'Syncopate', sans-serif;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 1.2;
      font-size: 2rem;
      text-align: center;
      span {
        display: block;
        font-size: 6rem;
        letter-spacing: -0.2rem;
      }
    }
    .arrow{
      color: white;
      margin-top: 2rem;
      animation: jump 2s infinite alternate-reverse ease;
    }
  }
}

@keyframes jump {
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(1rem)
  }
  
}

//ABOUT ME
.aboutMe {
  font-size: 1vw;
  @include fullScreen;
  height: fit-content;
  background: white;
  padding: 1rem;
  text-align: center;
   p:nth-child(1) {
    margin-top: 4em;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
  }
 .aboutMe-div{
  font-family: "Inter", sans-serif;
    width: 70%;
    margin: 0 auto;
    margin-top: 8em;
    @include flexCenter(row);
    height: fit-content;
    .plx{
      width: 50%;
    }
    
    .aboutme-left{
      h1{
        font-size: 3em;
      }
      p{
        margin: 1em 0;
        font-size: 1.5em;
      }
      text-align: left;
      width: 100%;
      button{
        @include button;
      }
    }
    .aboutme-right{
     img{
      width: fit-content;
      height: 21em;
      max-width: 100%;
     }
     margin: 2em 0;
      width: 100%;
     height: 100%;
    }
}
}

//SKILLS

.skills{
 width: 100vw;
  height: fit-content;
  padding: 6em 0;
  @include flexCenter(row);
  border: 2px solid black;
  background-color: $card;
  color: white;
  font-size: 1vw;
  .skills__left, .skills__right{
    @include flexCenter(column);
    width: fit-content;
    height: fit-content;
    padding: 2em;
    text-align: Center;
    background-color: $gray;
    border-radius: 2rem;
    margin: 0 2em;
    h1{
      font-family: "Inter", sans-serif;
      color: white(255,115,92);
      font-size: 2em;
      letter-spacing: 0.1em;
    }
  }
}
.cards{
  @include flexCenter(row);
  flex-wrap: wrap;
}
.skillsCard{
  margin: 1em;
  font-size: 1vw;
  position: relative;
  width: 6em;
  height: 6em;
  transition: filter 500ms;
  &:hover > .img-wrapper{
    filter:brightness(0.8);
    
  }
  .img-wrapper{
    border-radius: 1rem;
    background-color: white;
    width: 100%;
    height: 100%;
    &:hover > img{
      transform: scale(1.1);
    }
     img{
    transition: all 500ms;
    width: fit-content;
    height: inherit;
    padding: 0.8em;
    max-width: 100%;
    min-width: 100%;
 
  }
 
  }

 
  p{
    position: absolute;
    left: 50%;
    transition: ALL 500ms;
    bottom: 0em;
    opacity: 0;
    transform: translateX(-50%);
    color: white;
    font-weight: 400;
    
  }
  &:hover > p{
    opacity: 1;
    bottom: -2em;
  }
}

//MyWorks

.mywork{
  font-size: 1vw;
  @include fullScreen;
  height: fit-content;
  text-align: center;
  @include flexCenter(column)
}

.myworks__header{
  font-size: 1vw;
  padding-bottom: 1em;
  h1, h3{
    font-family:  "Inter", sans-serif;
    margin-bottom: 0.8em;
  }
  h1{
    margin-bottom: 2em;
  }

 
  
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
 }

.galleryMode{
  width: 100%;
  height: 100%;
  @include flexCenter(row);
  flex-wrap: wrap;
.galleryCard{
  animation: fade 500ms linear ease;
  margin: 1em;
  height: 18em;
  width: fit-content;
  position: relative;
  &:hover > img{
    filter: blur(0.3em);
  }
  &:hover > P {
    z-index: 2;
    opacity: 1;
  }
  p{
    font-size: 0.8em;
    transition: opacity 500ms;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    padding: 1em;
    z-index: -1;
    opacity: 0;
  }

  img{
    transition: filter 300ms;
    height: inherit;
  }
}
}

//values

.values{
  @include fullScreen;
  font-size: 1vw;
  padding: 5em 3em;
  @include flexCenter(column);
  height: fit-content;
  background-color: black;
  color: white;
  text-align: center;
  & > *{
    margin-bottom: 2em;
    width: 70%;
    font-size: 1.8em;
  }
}

//CONTACT

.contact{
  font-family:  "Inter", sans-serif;
  @include fullScreen;
  height: fit-content;
  padding: 4em;
  font-size: 1vw;
  @include flexCenter(column);
  $red: #e84c3d;
$grey: #ecedef;
$black: #343434;

.contact__title{
  margin-bottom: 2rem;
}

.card {
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
  height: 40em;
  float: left;
  position: relative;
  padding: 1em;
}

.cardLeft {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 50em;
}

.cardRight {
  padding: 5em 0;
  @include flexCustom(top, center, column);
  width: 20.8em;
  border-left: .18em dashed #fff;
  border-radius: 1em;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}

h1 {
  font-size: 1.1em;
  margin-top: 1em;
  font-size: 3em;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time, .description {
  text-transform: uppercase;
  font-weight: normal;
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.name{
  margin-top: 1em;
}
.title{
  margin-top: 2.8em;
}

.title, .name {
  & > *{
    display: block;
  }
}
.description{
  margin: 1em 0;
}
input{
  @include input;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

textarea{
  @include textarea;
  height: 8em;
  font-size: 1em;
}

.seat, .time {
  margin-top: 1em;
  margin-right: 1em;
}

.seat, .time, .button {
  float: left;
  button{
    @include button;
  }
}

.button{
  margin: 1em;
  margin-right: 3em;
}

img {
  width: 4em;
}

.number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: .9em 0 0 0;
    font-size: 6em;
    
  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.barcode {
  height: 2em;
  width: 0;
  margin-right: 4em;
  margin-top: 2em;
  box-shadow: 1px 0 0 1px $black,
  5px 0 0 1px $black,
  10px 0 0 1px $black,
  11px 0 0 1px $black,
  15px 0 0 1px $black,
  18px 0 0 1px $black,
  22px 0 0 1px $black,
  23px 0 0 1px $black,
  26px 0 0 1px $black,
  30px 0 0 1px $black,
  35px 0 0 1px $black,
  37px 0 0 1px $black,
  41px 0 0 1px $black,
  44px 0 0 1px $black,
  47px 0 0 1px $black,
  51px 0 0 1px $black,
  56px 0 0 1px $black,
  59px 0 0 1px $black,
  64px 0 0 1px $black,
  68px 0 0 1px $black,
  72px 0 0 1px $black,
  74px 0 0 1px $black,
  77px 0 0 1px $black,
  81px 0 0 1px $black;
}
}

//nav

nav{
  position: fixed;
  z-index: 100;
  left: 8rem;
  top: 50%;
  transform: translateY(-50%);
  li{
    list-style: none;
    width: 1rem;
    height: 1rem;
    margin: 1rem 0;
    border-radius: 50%;
    border: 0.2rem solid #e84c3d;
    background-color: transparent;
    transition: all 500ms;
  }

}

.navObserver{
  border: 0.2rem solid black;
  transform: scale(1.5);
}
.navObserverW{
  border: 0.2rem solid white;
  transform: scale(1.5);
}

//login

.loginpage{
  @include fullScreen;
  @include flexCenter(column);
  form{
    margin-bottom: 2rem;
    width: 60%;
    height: fit-content;
    padding: 4rem;
    background-color: #e84c3d;
    color: white;
    border-radius: 2rem;
    font-size: 1.4rem;
    h1{
      padding-bottom: 1rem;
    }
    p{
      width: 100%;
    }
    button{
      @include button;
    }
    
    input{
      color: white;
      font-size: 1.4rem;
      margin: 2rem;
      width: 60rem;
      @include input;
      border-bottom: 2px solid black;
      &:focus{
        border-bottom: white 2px solid;
      }
    }
  
    @include flexCenter(column);
  }
}


//dashboard

.dashboard{
  @include fullScreen;
  height: fit-content;
  @include flexCustom(top, center, column);
  margin: 0 auto;
  width: 80%;
  h1{
    position: relative;
    button{
      position: absolute;
      right: 1rem;
      @include button;
    }
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    border-radius: 1rem;
    background-color: #e84c3d;
    margin-bottom: 2rem;
  }
  .dashboard__main{
    .card{
      text-align: center;
      width: 15rem;
      margin: 0 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      height: fit-content;
      background-color: rgb(230, 230, 230);
      color: black;
      box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2);
      .card__buttons{
        width: 100%;
        display: flex;
        padding: 1rem 1rem 0 1rem;
        justify-content: space-between;
        font-size: 1.5rem;
        .card__button:hover{
          cursor: pointer;
        }
      }
      img{
        width: inherit;
      }
    }
    @include flexCustom(space-between, top, row);
    width: 100%;
  
    & > div:nth-child(1){
      flex-wrap: wrap;
     display: flex;
     flex-direction: row;
      width: 70%;
    }
    & > div:nth-child(2){
      width: 30%;
      form{
        border: 2px solid black;
        font-size: 1.6rem;
        padding: 1rem;
        @include flexCenter(column);
        button{
          @include button;
        }
        &>*{
          margin-bottom: 1rem;
        }
        textarea{
          @include textarea;
          border: 2px solid black !important;
          height: 10rem;
          padding: 0.4rem !important;
        }
        input{
          width: 100%;
        }
      }
    }
  }
}


.switch {
  font-size: 1vw;
  position: relative;
  display: inline-block;
  width: 3.4em;
  height: 1.9em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.1em #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}


//footer

.footer{
  font-size: 1vw;
  height: fit-content;
  background-color: #343434;
  padding: 2em;
  .button{
    @include button;
  }
  @include flexCenter(column);
  ul{
    @include flexCenter(row);
    li{
      padding: 1em;
    }
  }
  color: white;
}

@media all and (max-width: 425px) {
  .video-header{
  .viewport-header{
    h2{
      font-size: 5rem;
      span{
        font-size: 11rem;
    }
    }
  } 
}

.aboutMe{
  p:nth-child(1){
    font-size: 1.5em;
    margin-top: 2em;
  }
  font-size: 3vw;
  .aboutMe-div{
    margin-top: 4em;
    width: 100%;
    flex-direction: column;
    .aboutme-right{
      img{
        height: auto;
      }
    }
    .plx{
      width: 80%;
    }
  }
}

.skills{
font-size: 2.5vw;
flex-direction: column;
.skills__left, .skills__right{
  padding: 1.7em;
}
.skills__left{
  margin-bottom: 10rem;
}
}
.skillsCard{
  font-size: 2vw;
  width: 8em;
  height: 8em;
  p{
    font-size: 1.5em;
  }
}
.myworks__header{
  font-size: 4vw;
  h1{
    margin-bottom: 1em;
  }
  h3{
    margin-bottom: 0.4em;
  }
}

.switch{
  font-size: 3vw;
}

.galleryMode{
.galleryCard{
  p{
    font-size: 1.4em;
  }
}
}

.values{
  font-size: 2vw;
  padding: 2em 1em;
  & > * {
    font-size: 1.6em;
  }
}

.contact{
  font-size: 2vw;
  .cardRight{
    display: none;
  }
  .cardLeft{
    width: 90vw;
    border-radius: 2em;
  }
}

.footer{
  font-size: 3vw;
}

nav{
  display: none;
}
}