@import url("slick-carousel/slick/slick.css");
@import url("slick-carousel/slick/slick-theme.css");

.container {
    padding: 5rem;
    background: white;
    height: fit-content;
    text-align: center;
  }

  .slick-slide div{
    width: fit-content ;
    text-align: center;
    margin: auto;
    background-color: transparent;
  }

  .slick-slide img{
    z-index: 1 !important;
 height: 30rem !important;
 width: auto !important;
 transition: all 500ms;
  }

  .img{
    
    position: relative;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .works__text{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    z-index: 2;
    transition: all 500ms;
  }

  .img:hover > img{
   filter:blur(0.4rem);
  }
  .img:hover > .works__text{
    opacity: 1;

  }

  .slick-slide .slick-active .slick-center .slick-current{
    display: flex  !important;
    justify-content: center !important;
    align-items: center !important;
  }

   .slick-arrow .slick-next, .slick-arrow .slick-prev, .slick-next:before, .slick-prev:before{
    width: fit-content !important;
    height: fit-content !important;
    color: black !important;
    font-size: 4rem !important;
  
  }
 .slick-next{
    margin-right: 15% !important;
    width: fit-content !important;
    height: fit-content !important; 
  }
  .slick-prev{
    width: fit-content !important;
    height: fit-content !important; 
    z-index: 100 !important;
    margin-left: 15% !important;
  }

  

  .slick-arrow .slick-next{
    background-color: black;
    background: black;
    color: black;
  }
  
 

 
  
  .slick-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }